<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Registro de clientes </h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <button routerLink="/dashboard/add-autor" class="fa-sharp fa-solid fa-plus">nuevo</button>

                    <br>
                    <div class="input-group-append">



                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>id Cliente</th>
                            <th>Nombre</th>
                            <th>Email</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of listClient">
                            <td>
                                {{post.id_cliente}}
                            </td>
                            <td>
                                {{post.nombre}}
                            </td>
                            <td>
                                {{post.email}}
                            </td>


                        </tr>


                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>